$MobApp-mainColor: #3D8988						    !default;
$MobApp-backgroundColor: #151936                     !default;
$MobApp-borderColor: #6D809A                         !default;
$MobApp-fontColor: #acacac 							!default;
$MobApp-headerColor: #314164						    !default;
$MobApp-leftNavColor: #343641						!default;

$MobApp-Transition: all .2s linear 					  !default;
$MobApp-fontSizeBase: 12px                              !default;

$MobApp-ColorText: #8c8a8a                        !default;
$MobApp-ColorYellow: #E9A04B                         !default;
$MobApp-ColorRed: #C74F43                            !default;
$MobApp-ColorBrown: #9C856F                          !default;